@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	font-family: "Concert One", sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #66bbff;
}
